.create-project-container {
    max-width: 600px; /* Максимальна ширина контейнера */
    margin: 20px auto; /* Центруємо контейнер */
    padding: 20px; /* Внутрішні відступи */
    background-color: #f9f9f9; /* Світлий фон */
    border-radius: 10px; /* Закруглені краї */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тінь для контейнера */
}

.create-project-container h2 {
    text-align: center; /* Центруємо заголовок */
    margin-bottom: 20px; /* Відступ знизу */
}

.form-group {
    margin-bottom: 15px; /* Відступ між полями */
}

label {
    font-weight: bold; /* Виділяємо текст мітки */
    margin-bottom: 5px; /* Відступ між міткою та полем */
    display: block; /* Робимо мітку блочним елементом */
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%; /* Ширина полів */
    padding: 10px; /* Внутрішні відступи */
    border: 1px solid #ccc; /* Рамка */
    border-radius: 5px; /* Закруглені краї */
    box-sizing: border-box; /* Включає відступи в загальний розрахунок */
}

.button-wrapper {
    display: flex;
    justify-content: center; /* Центруємо кнопку */
    margin-top: 15px;
}

.create-project-button {
    background-color: #000000; /* Колір фону кнопки */
    color: white; /* Колір тексту кнопки */
    border: none; /* Без рамки */
    padding: 10px 20px; /* Внутрішні відступи */
    border-radius: 5px; /* Закруглені краї кнопки */
    cursor: pointer; /* Змінює курсор при наведенні */
    transition: background-color 0.3s; /* Плавна зміна кольору фону */
}

.create-project-button:hover {
    background-color: #222222; /* Змінюємо колір при наведенні */
}

.error-message {
    color: red; /* Червоний колір тексту */
    font-size: 14px; /* Розмір шрифту для помилок */
    margin-top: 5px; /* Відступ зверху */
    background-color: rgba(255, 158, 158, 0.9); /* Світло-червоний фон для помилок */
    padding: 2px; /* Внутрішні відступи для помилок */
}

.get-back {
    background-color: #000000; /* Синій фон */
    color: white; /* Білий колір тексту */
    padding: 12px 20px; /* Внутрішні відступи */
    border: none; /* Без рамки */
    border-radius: 4px; /* Закруглені краї */
    cursor: pointer; /* Змінює курсор при наведенні */
    font-size: 16px; /* Розмір шрифту */
    display: block; /* Перехід на новий рядок */
    margin: 20px auto; /* Центрування кнопки */
    transition: background-color 0.3s; /* Плавна зміна кольору фону */
    max-width: 350px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.get-back:hover{
    background-color: #222222;
}
