body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Для футера */
    min-height: 100vh; /* Для того, щоб body займав всю висоту вікна */
    margin: 0; /* Скидання зовнішнього відступу для body */
    padding: 0; /* Скидання внутрішнього відступу для body */
}

.home-content {
    margin: 0 auto; /* Скидання відступу зверху і автоматичні відступи зліва та справа */
    padding: 20px; /* Збільшений внутрішній відступ */
    background-color: #ffffff; /* Світлий фон для основного контенту */
    
    width: 80%; /* Ширина блоку контенту */
    max-width: 800px; /* Максимальна ширина, щоб не розтягувалося занадто багато */
}

h1 {
    text-align: center; /* Центрування тексту */
    margin: 0; /* Скидання зовнішнього відступу */
}
