<!-- create_task.html -->
{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'create_task.css' %}">

<h2>Create New Task</h2>

<form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <label for="files">Upload Files</label>
    <input type="file" name="files" multiple>
    
    <button type="submit" class="create-task-button">Create Task</button>
</form>

{% if project %}
    <a href="{% url 'project_detail' project.id %}" class="create-task-button">Back to Project</a>
{% else %}
    <a href="{% url 'tasks-list' %}" class="create-task-button">Back to Task List</a>
{%endif%} 

{% endblock %}