{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<div class="home-content">
    <h1>Welcome to Your Ultimate Task Tracker!</h1>
    <p>Task Tracker is an essential tool designed to help individuals and teams organize, manage, and track their tasks efficiently.</p>
    
    <h2>What Can You Do?</h2>
    <p>You can create projects to group related tasks, add and organize tasks with detailed descriptions, set deadlines, and assign priorities. Our intuitive interface allows you to track the status of each task.</p>
    
    <h2>Collaborate with Friends</h2>
    <p>Invite friends to join your projects and collaborate in real-time. Share tasks, delegate responsibilities, and keep each other accountable.</p>
    
    <h2>Stay on Top of Deadlines</h2>
    <p>Our tracker notifies you of upcoming deadlines and overdue tasks, helping you stay organized and proactive.</p>
    
    <h2>Join Us Today!</h2>
    <p>Start your journey towards better task management and collaboration. Sign up now and experience the benefits of having all your tasks, projects, and friends in one place!</p>
</div>
{% endblock %}
