{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
    <div class="home-content">
        <h1>Welcome to Task Tracker</h1>
        <p>Task Tracker is a system designed to help teams and individuals manage their tasks efficiently.</p>
        <p>You can create projects, assign tasks, and keep track of progress all in one place.</p>
        <p>Whether you are working on a solo project or collaborating with a team, Task Tracker is here to help you stay organized and meet your deadlines.</p>
    </div>
{% endblock %}
