{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'tasks.css' %}">

<div class="tasks-container">
    <aside class="filter-area">
        <h2 class="filter-title">Filters</h2>
        <div id="filters">
            <form method="GET" action="{% url 'tasks-list' %}">
                <label for="sort">Sort by Deadline:</label>
                <select id="sort" name="sort">
                    <option value="">Select...</option>
                    <option value="asc" {% if request.GET.sort == 'asc' %}selected{% endif %}>Ascending</option>
                    <option value="desc" {% if request.GET.sort == 'desc' %}selected{% endif %}>Descending</option>
                </select>
                <!-- Фільтр за строком здачі -->
                <label for="deadline">Deadline:</label>
                <input type="date" id="deadline" name="deadline" value="{{ request.GET.deadline }}">
    
                <!-- Фільтр за статусом -->
                <label for="status">Status:</label>
                <select id="status" name="status">
                <option value="">All</option>
                <option value="COMPLETED" {% if request.GET.status == 'COMPLETED' %}selected{% endif %}>Completed</option>
                <option value="IN_PROGRESS" {% if request.GET.status == 'IN_PROGRESS' %}selected{% endif %}>In Progress</option>
                <option value="PENDING" {% if request.GET.status == 'PENDING' %}selected{% endif %}>Pending</option>
                </select>
    
                <!-- Фільтр за пріоритетом -->
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                <option value="">All</option>
                <option value="H" {% if request.GET.priority == 'H' %}selected{% endif %}>High</option>
                <option value="M" {% if request.GET.priority == 'M' %}selected{% endif %}>Medium</option>
                <option value="L" {% if request.GET.priority == 'L' %}selected{% endif %}>Low</option>
                </select>
    
                
    
                <!-- Кнопка фільтрації -->
                 
                <button type="submit">Filter</button>
            
                
            </form>
            
        </div>
    </aside>

    <div class="task-list-area">
        <div class="search-container">
            <form id="search-form" method="get" action="{% url 'tasks-list' %}">
                <input type="text" name="search" id="search-input" placeholder="Search tasks..." class="search-bar" value="{{ request.GET.search }}" oninput="submitSearch()">
            </form>
        </div>

        <div class="task-list">
            {% if tasks %}
                {% for task in tasks %}
                    <div class="task-item {{ task.priority|lower }}">
                        <a href="{% url 'task_detail' task.id %}?next={% url 'tasks-list' %}" class="task-item-link">
                            <h3>{{ task.name }}</h3>
                            <p>Deadline: {{ task.deadline }}</p>
                            <p>Priority: {{ task.get_priority_display }}</p>
                        </a>
                        {% if task.status != 'COMPLETED' %}
                            <!-- Форма для кнопки "Mark as Completed", якщо статус не "completed" -->
                            <form action="{% url 'task_complete' task.id %}" method="POST" class="mark-completed-form">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="mark-completed-button">Mark as Completed</button>
                            </form>
                        {% else %}
                            <!-- Якщо завдання позначене як "Completed", відображаємо текст -->
                            <div class="completed-task-text">
                                Completed
                            </div>
                        {% endif %}
                    </div>   
                    
                {% endfor %}
            {% else %}
            {% if request.GET.search %}
                    <div class="no-tasks-div">
                        <p class="no-tasks-message">No tasks found for "{{ request.GET.search }}".</p>
                    </div>
                {% else %}
                    <div class="no-tasks-div">
                        <p class="no-tasks-message">You don't have tasks yet</p>
                        {% if not user.is_authenticated %}
                            <p class="no-tasks-message">
                                If you want to create tasks, please 
                                <a href="" class="login-link">log in</a>.
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            
        </div>
    </div>

    <aside class="upcoming-tasks-area">
        <div class="create-task-container">
            <a href="{% url 'create-task' %}" class="create-task-button" id="create-task-button" onclick="checkAuth(event)">+ Create New Task</a>
            <p id="login-prompt" class="login-prompt" style="display: none;">You need to <a href="">log in</a> to create a task.</p>
        </div>
        <h2>Upcoming Deadlines</h2>
        {% if urgent_tasks %}
            <ul class="upcoming-list">
                {% for urgent in urgent_tasks %}
                    <li class="urgent-task">
                        <a href="{% url 'task_detail' urgent.id %}?next={% url 'tasks-list' %}" class="task-item-link">
                            {{ urgent.name }} - Deadline: {{ urgent.deadline }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {%else%}
            <p class="no-uncoming-task"> You dont have uncoming task</p>
        {%endif%}
            
    </aside>
</div>
{% endblock %}


<script>
    
    function submitSearch() {
        const input = document.getElementById('search-input');
        const form = document.getElementById('search-form');
        
        // Оновлює параметр у URL
        const url = new URL(form.action);
        url.searchParams.set('search', input.value); // Оновлює параметр "search"
        
        // Відправляє запит
        fetch(url)
            .then(response => response.text())
            .then(html => {
                // Оновлює контент сторінки без перезавантаження
                document.querySelector('.task-list').innerHTML = new DOMParser().parseFromString(html, 'text/html').querySelector('.task-list').innerHTML;
            })
            .catch(error => console.error('Error:', error));
    }

    function checkAuth(event) {
        if (!isAuthenticated) {
        event.preventDefault(); // Зупиняє перезавантаження сторінки
        document.getElementById('login-prompt').style.display = 'block'; // Показує повідомлення
        } else {
            // Якщо користувач авторизований, то переходить на сторінку створення завдання
            window.location.href = event.target.href;
        }
    }

    
</script>